<% provide(:title, t(:page_home)) %>
<!--<%= render 'layouts/page_title_layouts' %>-->
<div class="container">

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 well home-page-invitation">
      <% if user_signed_in? %>
        <% if presence_characters(current_user.characters) %>
          <%= render 'characters/shared/character_block' %>
        <% end %>
      <% end %>
      <div class="notice"><%= render 'users/shared/error_messages' %></div>
      <% if user_signed_in? %>
        <ul class="list-unstyled text-center home-page-invitation">
          <% if current_user.characters.count > 0 %>
          <li><%= link_to t(:appointments), "#", class: "class btn btn-lg btn-danger" %></li>
          <% else %>
          <li><%= link_to t('patients.create'),  new_character_path,  class: "class btn btn-lg btn-info" %></li>
          <% end %>
          <li><%= link_to t(:pfarmacy), "#", class: "class btn btn-lg btn-warning" %></li>
          <li><%= link_to t(:contacts), contacts_path, class: "class btn btn-lg btn-success" %></li>
        </ul>
      <% else %>
        <ul class="list-unstyled text-center">
          <li><%= link_to t(:sign_in), new_user_session_path, class: "class btn btn-lg btn-success" %></li>
          <li><%= link_to t(:sign_up), new_user_registration_path, class: "class btn btn-lg btn-info" %></li>
        </ul>
      <% end %>
    </div> <!--end col-->
  </div> <!--end row-->
</div>
