<% pcount = @characters.count %>
<% if pcount == 1 %>
  <h2><%= t('activerecord.model.character.one') %></h2>
<% elsif pcount > 1  %>
  <h2><%= t('activerecord.model.character.few') %></h2>
<% elsif pcount >= 5  %>
  <h2><%= t('activerecord.model.character.many') %></h2>
<% end %>
<div> <%= active_patient.name %> </div>
<table class="table my-table table-hover home-characters-list">
  <% @characters.each do |character| %>
    <tr <% if character.running? || active_character(character.id) %> class="alert alert-success" <% end %> >
      <td><%= character.name %></td>
      <td><%= character.comment %></td>
      <td><%= t('age') + ' ' + age(character) %></td>
      <td><%= button_to "Some Button",  characters_activate_path(:id => character.id) %></td>
      <td>
        <%= link_to edit_character_path(character) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<div class="row">
  <div class="col-sm-6 col-xs-offset-3">
    <%= link_to t('patients.create'),  new_character_path, class: "class btn btn-md btn-info" %>
  </div>
</div>
<hr>