<div class="col-sm-6 col-sm-offset-3">
  <%= simple_form_for(@character) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
        <%= f.input :usd %>
        <%= f.input :name %>
        <%= f.input :comment %>
        <%= f.input :birthday %>
        <%= f.input :sex, as: :radio_buttons, :collection => [:true, :false] %>
    </div>
  
    <div class="form-actions">
      <%= link_to root_path, :title => t('back'), :class => "btn btn-info" do %>
        <span class="glyphicon glyphicon-triangle-left"></span>
      <% end %>
      <%= f.button :button, :title => t('edit.save'), :class => "btn-success" do %>
        <span class="glyphicon glyphicon-ok"></span>
      <% end %>
      <%= link_to t('edit.delete'), @character, :class => "btn btn-danger", method: :delete, title: t('are_you_sure'), data: { confirm: t('are_you_sure'), commit: t('modal.commit'), cancel: t('modal.cancel') } %>
    </div>
  <% end %>
</div>
