<% provide(:title, t('page.contact.index')) %>
<div class="container">
  
  <div class="page-header">
    <div class="row">
      <div class="col-xs-5">
        <h1><%= yield(:title) %></h1>
      </div>
      <div class="col-xs-7 text-right">
        <%= link_to new_contact_path, title: 'new', class: 'btn btn-primary' do%>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </div>
    </div>
  </div

  <div class="list-group">

    <% @contacts.each do |contact| %>
      <%= link_to contact_path(contact), class: 'list-group-item' do %>
        <div class="media">
          <div class="media-left padding-3x media-middle">
            <%= contact_avatar(contact, class: 'media-object img-circle', style: 'width:48px;height:48px;') %>
          </div>
          <div class="media-body media-middle contact-name">
            <span><strong><%= contact.name %></strong></span>
          </div>
          <div class="media-body media-middle contact-email hidden-xs">
            <span><%= contact.comment %></span>
          </div>
          <div class="media-body media-middle contact-phone hidden-xs">
            <span><%= contact.phone %></span>
          </div>
          <div class="media-body media-middle contact-email hidden-xs">
            <span><%= contact.email %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  <br>
  <hr>
  <%= link_to root_path, class: "btn", title: t('back') do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
  <% end %>
  <br>
  <hr>
</div>