<% provide(:title, t('page.contact.view')) %>
<div class="container">
  <div class="page-header">
    <div class="row">
      <div class="col-xs-5">
         <h1><%= @contact.name %></h1>
      </div>
      <div class="col-xs-7 text-right">
        <%= link_to edit_contact_path(@contact), :class => 'btn btn-primary' do%>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
      </div>
    </div>
  </div>

  <%= render :partial => 'users/shared/error_messages' %>

  <div class="row">
    <div class="col-sm-5 text-center">
      <%= contact_avatar(@contact, class: 'img-circle') %>
    </div>
    <div class="col-sm-7">
      <div class="well">
      <h4><%= t('activerecord.model.contact.name') %></h4>
      <%= @contact.name + ' | ' + @contact.comment %>
  
      <h4><%= t('activerecord.model.contact.phone') %></h4>
      <%= @contact.phone %>
      
      <h4>Email</h4>
      <%= @contact.email %>
      
      <h4><%= t('activerecord.model.contact.address') %></h4>
      <%= @contact.address %>
  
      </div>
    </div>
  </div>


  <!--<div class="media">-->
  <!--  <div class="media-left padding-4x media-left">-->
  <!--    <%= contact_avatar(@contact, class: 'media-object img-circle') %>-->
  <!--  </div>-->
  <!--  <div class="media-body media-right">-->
  <!--    <h4>Full Name</h4>-->
  <!--    <%= @contact.name %>-->
  
  <!--    <h4>Email</h4>-->
  <!--    <%= @contact.email %>-->
  
  <!--    <h4>Phone Number</h4>-->
  <!--    <%= @contact.phone %>-->
  <!--  </div>-->
  <!--</div>-->
  <hr>
  <%= link_to contacts_path, :class => "btn", :title => t('back') do %>
    <span class="glyphicon glyphicon-triangle-left"></span>
  <% end %>
  <br>
  <hr>
</div>