<!DOCTYPE html>
<html>
<head>
  <title><%= t(:site_name) + ' ' + yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if Rails.env.test? %>
    <style type="text/css">
      .modal.fade, .fade {
        -webkit-transition: opacity 0.01s;
        -moz-transition: opacity 0.01s;
        -ms-transition: opacity 0.01s;
        -o-transition: opacity 0.01s;
        transition: opacity 0.01s;
      }
    </style>
  <%end%>
</head>
<body>
<%= render 'layouts/header' %>
<main>
  <%= yield %>
</main>

<%= render 'layouts/footer' %>
</body>
</html>
